Hello,

You have been invited to join Sustentra.

Accept your invitation (this link expires in {{ expires_hours }} hours):
{{ invite_link }}

If you did not expect this invitation, you can ignore this email.

- {{ sender_name }}
